/************************************************************************
						Bargains messages
*************************************************************************/
.bargains_list {
	padding: 15px;
	max-height: 500px;
	overflow-y: scroll;
	margin-bottom: 30px;
	border-bottom: 1px solid #d6d4d4;
	list-style: none;
}
.bargains_list li {
	padding: 10px 15px;
	margin-bottom: 20px;
	border: 1px solid #d6d4d4;
}

.bargains_list li.customer_bargain {
	background: #FBFBFB;
}
.bargain_whos {
	font-weight: bold;
}

.bargains_list li.admin_bargain .bargain_whos {
	color: #42B455;
}

.bargain_heading {
	border-bottom: 1px solid #d6d4d4;
}

.bargain_message {
	margin-bottom: 15px;
	border: none;
}

.bargain_price_container {
	float: right;
	text-align: right;
}
.bargain_price_container .table {
	margin-bottom: 5px;
}

.bargain_price_container .price {
	font: 600 21px/25px "Open Sans", sans-serif;
	color: #333333;
	background: white;
}

.bargain_alerts .alert {
	text-align: left;
	display: none;
}

.bargains_list .admin_bargain .bargain_action {
	float: right;
	margin-top: 25px;
}

#bargain_form .input-group.col-lg-2 {
	padding-left: 5px;
}
.color-red {
	color: red;
	font-size: 18px;
}
.color-green {
	color: green;
	font-size: 18px;
}
